.card {
	border: 2px solid #b98282;
	border-radius: 8px;
	overflow: hidden;
	width: 100%;
	max-width: 400px;
	color: #bbb;
}

.imageWrapper {
	position: relative;
	width: 100%;
	padding-top: 60%;
	overflow: hidden;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.cardImage {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.cardContent {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.cardContent h2 {
	margin: 0 0 1rem;
	font-size: 1.7rem;
	color: #ddd;
}

.cardContent p {
	margin: 0 0 1rem;
	color: #666;
}

.cardContent ul {
	list-style-type: none;
	padding: 0;
	align-self: flex-start;
	justify-self: flex-end;
}

.cardContent li {
	margin-bottom: 0.5rem;
}

.cardContent a {
	color: #0070f3;
	text-decoration: none;
}

.cardContent a:hover {
	text-decoration: underline;
}

@media (prefers-color-scheme: light) {
	.cardContent h2 {
		color: #444;
	}
	.cardContent p {
		color: #727272;
	}
	.cardContent li {
		color: #4d4d4d;
	}
}
