.container {
	display: flex;
	height: 50vh;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	padding: 2rem;
}

.container h1 {
	font-size: 2rem;
	color: #bbb;
	margin-bottom: 3rem;
}

.container p {
	font-size: 1rem;
	color: #666;
	line-height: 1.5;
	margin-bottom: 1.5rem;
}

.container h2 {
	font-size: 1.5rem;
	color: #333;
	margin-bottom: 0.75rem;
}

.container ul {
	list-style-type: none;
	padding: 0;
	margin-bottom: 1.5rem;
}

.container ul li {
	font-size: 1rem;
	color: #666;
	margin-bottom: 0.5rem;
}
