/* src/styles/globals.css */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: linear-gradient(to left, #1b1b1b, #111111);
}

nav {
	background-color: #333;
	padding: 1rem;
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: space-around;
}

nav ul li {
	font-size: 1.2rem;

	@media (min-width: 768px) {
		font-size: 2rem;
	}
}

a {
	color: #ccc;
	text-decoration: none;
}

a:hover {
	color: white;
	text-decoration: none;
}

nav a:hover {
	text-decoration: none;
}

main {
	padding: 2rem;
}

h1,
h2 {
	font-size: 2rem;
	color: #bbb;
}

p {
	font-size: 1rem;
	color: #999;
}

/* @media (prefers-color-scheme: dark) {
	body {
		background-color: black;
	}
} */

@media (prefers-color-scheme: light) {
	body {
		background-color: linear-gradient(to left, #c5c5c5, #b41f1f);
		/* background-color: red; */
	}

	a {
		color: #4553d4;
	}

	a:hover {
		color: #2b5ea1;
	}

	nav {
		background-color: #333;
	}

	nav a {
		color: #ccc;
	}

	nav a:hover {
		color: white;
	}

	h1,
	h2 {
		color: #222;
	}

	p {
		color: #454545;
	}
}
